# Variables de entorno y secretos
.env
.env.local

# Entornos virtuales
venv/
.venv/

# Cache de Python
__pycache__/
*.pyc
*.pyo

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Logs y archivos temporales
*.log
.DS_Store